@keyframes flash {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.flash {
    animation: flash 1.5s infinite;
}

.fire-icon {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
}

.fire-icon.visible {
    display: block;
}
