.modal-header {
    border-bottom: none;
    padding: 1rem 1.5rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
}

.modal-header.info {
    background: linear-gradient(45deg, #4b79ff, #6aafff);
    color: white;
}

.modal-header.warning {
    background: linear-gradient(45deg, #ff4b4b, #ff6a6a);
    color: white;
}

.modal-header .close {
    color: white;
    opacity: 1;
}

.modal-header .close:hover {
    color: #ddd;
}

.modal-content {
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.modal-body {
    padding: 1.5rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #333;
    line-height: 1.6;
}

.modal-body strong {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.modal-body .component,
.modal-body .likelihood,
.modal-body .resolution,
.modal-body .issue,
.modal-body .description,
.modal-body .impact,
.modal-body .suggestions {
    margin-bottom: 1rem;
}

.modal-body .suggestions ul {
    list-style-type: none;
    padding-left: 0;
}

.modal-body .suggestions ul li {
    background: #f4f4f4;
    padding: 0.75rem;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
}

.modal-body .suggestions ul li:hover {
    background-color: #e0e0e0;
}

.alert-icon {
    width: 48px;
    height: 48px;
    animation: flash 1.5s infinite;
    position: absolute;
    top: 15px;
    right: 20px;
}

.lamp-icon {
    width: 48px;
    height: 48px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: none;
    padding: 1rem 1.5rem;
    background-color: #f8f9fa;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.modal-footer .btn {
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    font-size: 0.9rem;
}

.modal-footer .logo-container {
    display: flex;
    align-items: center;
}

.modal-footer .logo {
    width: 120px;
    margin-right: 10px;
}

.revision-dates {
    margin-top: 10px;
    font-size: 12px;
    color: #555;
}

.revision-dates p {
    margin: 0;
}

.initial-info {
    padding: 20px;
    font-size: 16px;
    color: #333;
}

.component-details {
    margin-bottom: 15px;
    padding: 10px;
    /* background-color: #f9f9f9; */
    /* border-radius: 10px; */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.component-name {
    font-size: 1.5em;
    display: block;
    margin-bottom: 15px;
    color: #333;
}

.detail-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.detail-icon {
    margin-right: 8px;
    color: #007bff;
}

.detail-item span {
    font-size: 1em;
    color: #555;
}

.icon {
    font-size: 1.5em;
    color: #4b79ff;
    margin-bottom: 0.5rem;
}

.modal-body .component-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.modal-body .component-details span {
    display: flex;
    align-items: center;
    gap: 10px;
}

.modal-body .component-details span svg {
    font-size: 1.2em;
    color: #4b79ff;
}

.metrics-details {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    margin-top: 1rem;
}

.metric {
    perspective: 1000px;
    flex: 1 1 calc(50% - 1rem);
    height: 180px;
    /* Fixed height to prevent size changes */
    cursor: pointer;
}

.metric-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flipped .metric-inner {
    transform: rotateY(180deg);
}

.metric-front,
.metric-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
}

.metric-front {
    background: #f8f9fa;
}

.metric-back {
    color: #333;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.metric-back.positive {
    background: #e0f7e4;
    border: 1px solid #b2e0b9;
}

.metric-back.negative {
    background: #f7e0e0;
    border: 1px solid #e0b2b2;
}

.metric-front .icon {
    font-size: 2rem;
    color: #6c757d;
    margin-bottom: 0.5rem;
}

.metric-value {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    color: inherit;
}

.metric-label {
    font-size: 1rem;
    color: #6c757d;
}

.metric-sli {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 0px;
}

.metric-back .metric-percentage {
    font-size: 2.5rem;
    /* Adjust font size if necessary */
    font-weight: bold;
    margin: 0.5rem 0;
}

.metric-back .metric-description {
    font-size: 0.9rem;
    /* Adjust font size for the description */
    text-align: center;
    color: #6c757d;
    /* Lighter color */
    margin: 0.5rem 0;
    /* Add margin to create space around the text */
    word-wrap: break-word;
    /* Ensure long text wraps */
    width: 90%;
    /* Ensure it fits within the box */
}

.chart-icon-container {
    position: relative;
}

.chart-icon {
    font-size: 20px;
    position: absolute;
    top: 0px;
    left: 80px;
    cursor: pointer;
}

.chart-container img {
    /* max-width: 100%; */
    max-height: 255px;
    height: auto;
    border-radius: 10px;
}