.modal-header {
    border-bottom: none;
    padding: 1rem 1.5rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
}

.modal-header.info {
    background: linear-gradient(45deg, #4b79ff, #6aafff);
    color: white;
}

.modal-header.warning {
    background: linear-gradient(45deg, #ff4b4b, #ff6a6a);
    color: white;
}

.modal-header .close {
    color: white;
    opacity: 1;
}

.modal-header .close:hover {
    color: #ddd;
}

.modal-content {
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.modal-body {
    padding: 1.5rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #333;
    line-height: 1.6;
}

.modal-body strong {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.modal-body .component,
.modal-body .likelihood,
.modal-body .resolution,
.modal-body .issue,
.modal-body .description,
.modal-body .impact,
.modal-body .suggestions {
    margin-bottom: 1rem;
}

.modal-body .suggestions ul {
    list-style-type: none;
    padding-left: 0;
}

.modal-body .suggestions ul li {
    background: #f4f4f4;
    padding: 0.75rem;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
}

.modal-body .suggestions ul li:hover {
    background-color: #e0e0e0;
}

.alert-icon {
    width: 48px;
    height: 48px;
    animation: flash 1.5s infinite;
    position: absolute;
    top: 15px;
    right: 20px;
}

.lamp-icon {
    width: 48px;
    height: 48px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: none;
    padding: 1rem 1.5rem;
    background-color: #f8f9fa;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.modal-footer .btn {
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    font-size: 0.9rem;
}

.modal-footer .logo-container {
    display: flex;
    align-items: center;
}

.modal-footer .logo {
    width: 120px;
    margin-right: 10px;
}

.revision-dates {
    margin-top: 10px;
    font-size: 12px;
    color: #555;
}

.revision-dates p {
    margin: 0;
}

.initial-info {
    padding: 20px;
    font-size: 16px;
    color: #333;
}

.component-details {
    margin-bottom: 15px;
    padding: 10px;
    /* background-color: #f9f9f9; */
    /* border-radius: 10px; */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.component-name {
    font-size: 1.5em;
    display: block;
    margin-bottom: 15px;
    color: #333;
}

.detail-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.detail-icon {
    margin-right: 8px;
    color: #007bff;
}

.detail-item span {
    font-size: 1em;
    color: #555;
}

.icon {
    font-size: 1.5em;
    color: #4b79ff;
    margin-bottom: 0.5rem;
}

.modal-body .component-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.modal-body .component-details span {
    display: flex;
    align-items: center;
    gap: 10px;
}

.modal-body .component-details span svg {
    font-size: 1.2em;
    color: #4b79ff;
}

.metrics-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    text-align: center;
    margin-top: 20px;
}

.metric {
    background: #fff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.metric:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.metric-value {
    font-size: 3em;
    color: #333;
    margin: 0;
}

.metric-label {
    font-size: 1.2em;
    color: #666;
    margin: 0;
}

.metric-sli {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    padding: 0.5rem;
    border-radius: 5px;
}

.metric-sli.positive {
    color: #28a745;
    background: #e9f8ec;
}

.metric-sli.negative {
    color: #dc3545;
    background: #f8d7da;
}