/* General styles */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
}

.navbar-brand {
    font-weight: bold !important;
}

.footer {
    background-color: #f8f9fa !important;
}

.feature {
    text-align: center !important;
    padding: 20px !important;
}

/* Floor plan styles */
.floor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 1200px;
    border: 1px solid #000;
    margin-bottom: 60px;
}

/* Floor plan styles */
.floor {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    height: 500px !important;
    width: 1200px !important;
    border: 1px solid #000 !important;
    margin-bottom: 60px !important;
}

.corridor {
    height: 150px !important;
    width: 1100px !important;
    display: flex !important;
    border: 1px dashed #000 !important;
    justify-content: center !important;
    align-items: center !important;
    font-size: 20px !important;
}

/* Room styles */
.room {
    position: relative !important;
    height: 150px !important;
    width: 200px !important;
    margin: 10px !important;
    color: white !important;
    border: 5px solid black !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-size: 14px !important;
    text-align: center !important;
}

/* Transparency settings for rooms */
.sala-roxa {
    background-color: rgba(142, 68, 173, 0.5) !important;
}

.sala-azul {
    background-color: rgba(52, 152, 219, 0.5) !important;
}

.sala-rosa {
    background-color: rgba(233, 30, 99, 0.5) !important;
}

.sala-verde {
    background-color: rgba(39, 174, 96, 0.5) !important;
}

.sala-vermelha {
    background-color: rgba(231, 76, 60, 0.5) !important;
}

.sala-amarela {
    background-color: rgba(241, 196, 15, 0.5) !important;
}

.sala-marrom {
    background-color: rgba(121, 85, 72, 0.5) !important;
}

.sala-laranja {
    background-color: rgba(255, 165, 0, 0.5) !important;
}

/* Person counter styles */
.room .person-counter-top,
.room .person-counter-bottom {
    position: absolute !important;
    left: 10px !important;
    font-size: 15px !important;
}

.room .person-counter-top {
    top: 10px !important;
}

.room .person-counter-bottom {
    bottom: 10px !important;
}

.room .button-container {
    position: absolute !important;
    right: 10px !important;
    bottom: 10px !important;
    display: flex !important;
    gap: 5px !important;
}

.room .button-container button {
    border: none !important;
    border-radius: 5px !important;
    padding: 5px 10px !important;
    font-size: 5px !important;
    cursor: pointer !important;
    transition: background-color 0.3s ease !important;
}

.room .button-container button:hover {
    background-color: #ccc !important;
}

.room .button-container .btn-primary {
    background-color: #007bff !important;
    color: white !important;
}

.room .button-container .btn-danger {
    background-color: #dc3545 !important;
    color: white !important;
}

/* Door frame styles */
.door-frame-bottom,
.door-frame-top {
    position: absolute !important;
    width: 50px !important;
    height: 10px !important;
    background-color: #fff !important;
}

.door-frame-bottom {
    bottom: -6px !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
}

.door-frame-top {
    top: -6px !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
}

/* Exit area styles */
.exit-area {
    height: 150px !important;
    width: 300px !important;
    margin: 10px !important;
    color: white !important;
    align-items: center !important;
    font-size: 14px !important;
    text-align: center !important;
}

/* Stairs styles */
.stairs {
    height: 100px !important;
    /* width: 200px !important; */
    color: white !important;
    border: 3px solid black !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-size: 14px !important;
    text-align: center !important;
    position: relative !important;
}

.stairs .stairs-icon {
    position: absolute !important;
    height: 80px !important;
}

.stairs-bottom {
    margin-top: 10px !important;
}

.stairs-top {
    margin-bottom: 10px !important;
}

/* Hall styles */
.hall {
    height: 40px !important;
    width: 170px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-size: 35px !important;
}

.hall-top {
    margin-top: 10px !important;
}

.hall-bottom {
    margin-bottom: 10px !important;
}

.hall .fire-extinguisher,
.hall .exit-sign,
.hall .elevator {
    position: absolute !important;
    cursor: pointer !important;
}

.hall .fire-extinguisher {
    left: 0px !important;
    height: 50px !important;
}

.hall .exit-sign {
    right: 0px !important;
    height: 35px !important;
    padding-right: 5px !important;
}

.hall .elevator {
    left: 0px !important;
    height: 45px !important;
    padding-left: 7px !important;
}

/* Sidebar */
.sidebar {
    height: 100%;
    width: 300px;
    position: fixed;
    top: 0;
    right: -300px;
    background-color: #f4f4f4;
    overflow-y: auto;
    transition: right 0.3s ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-left: 1px solid #e0e0e0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

/* Sidebar Header */
.sidebar-header {
    padding: 1rem 1.5rem;
    background: linear-gradient(45deg, #ff4b4b, #ff6a6a);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.sidebar-header h3 {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 600;
}

.sidebar .close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: bold;
}

/* Sidebar Content */
#notifications-list {
    list-style-type: none;
    padding: 15px;
    margin: 0;
}

#notifications-list li {
    padding: 15px;
    border-bottom: 1px solid #e0e0e0;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 0.85rem;
    color: #333;
}

#notifications-list li:last-child {
    border-bottom: none;
}

#notifications-list strong {
    display: block;
    color: #007aff;
    font-size: 0.9rem;
    margin-bottom: 5px;
    font-weight: 500;
}

.suggestion-item {
    background-color: white;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 0.85rem;
    color: #333;
}

/* Notification */
.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px;
    background: linear-gradient(45deg, #ff4b4b, #ff6a6a);
    color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 1000;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 0.9rem;
}/* Modal header */
.modal-header {
    border-bottom: none;
    padding: 1rem 1.5rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    /* Added for absolute positioning of the alert icon */
}

.modal-header.warning {
    background: linear-gradient(45deg, #ff4b4b, #ff6a6a);
    color: white;
}

.modal-header .close {
    color: white;
    opacity: 1;
}

.modal-header .close:hover {
    color: #ddd;
}

/* Modal content */
.modal-content {
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* Modal body */
.modal-body {
    padding: 1.5rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #333;
    line-height: 1.6;
}

.modal-body strong {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.modal-body .issue,
.modal-body .description,
.modal-body .impact,
.modal-body .suggestions {
    margin-bottom: 1rem;
}

.modal-body .suggestions ul {
    list-style-type: none;
    padding-left: 0;
}

.modal-body .suggestions ul li {
    background: #f4f4f4;
    padding: 0.75rem;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
}

.modal-body .suggestions ul li:hover {
    background-color: #e0e0e0;
}

/* Alert icon */
.alert-icon {
    width: 48px;
    height: 48px;
    animation: flash 1.5s infinite;
    position: absolute;
    /* Added for absolute positioning */
    top: 1px;
    /* Adjust as needed */
    right: 10px;
    /* Adjust as needed */
}

/* Modal footer */
.modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: none;
    padding: 1rem 1.5rem;
}

.modal-footer .btn {
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    font-size: 0.9rem;
}

/* Logo */
.modal-footer .logo {
    width: 100px;
    margin-right: 250px;
    /* Adjust the size as needed */
}

.revision-dates {
    margin-top: 10px;
    font-size: 12px;
    color: #555;
}

.revision-dates p {
    margin: 0;
}

@keyframes flash {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.flash {
    animation: flash 1.5s infinite;
}

.fire-icon {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
}

.fire-icon.visible {
    display: block;
}